html,body,#app,section{height:100%;}
        body{background:#F2F2F2;font-size:14px;color:#333;margin: 0;padding: 0;}
        table,p{font-size:14px;}
        ul,li{margin:0;padding:0;list-style:none;}
        input{padding:0;}
        textarea{padding:0;}
        *{-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:rgba(0,0,0,0)}

        img { pointer-events: none; }
        .invitation__page{
            background-color:#fffff5;
            width: 640px;
            overflow: hidden;
            margin: 0 auto;
            position: relative;
            height: 100%;
            perspective:800px;
            -webkit-perspective:800px;
        }
        .typewriter{
            width:603px;
            height:423px;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            -webkit-transform: translate(-50%,0);
            bottom: 0;
        }
        
        .typewriter .needle{
            background:url(../images/needle.png) 0 -130px;        
            background-size:2px 377px;   
            position: absolute;
            width:2px;
            height:250px;
            top:-70px;
            left:310px;
        }
        .typewriter .needle_current{
            transform:rotate(180deg);
            top:-5px;
        }
        .typewriter__rocker{
            position:absolute;
            bottom:150px;
            width: 603px;
            left: 50%;
            transform: translate(-50%,0);
            -webkit-transform: translate(-50%,0);
            transition: all .5s ease-in-out;
        }
        .typewriter__rocker__move{
            margin-left: -5px;
            transition: all .5s ease-in-out;
        }

        .typewriter__main{
            position: absolute;
            left: 46px;
            top:70px;
        }
        .typewriter__img{
            width: 530px;
            -webkit-user-select: none;
        }
        .typewriter__btn_1, .typewriter__btn_1_current{
            width: 283px;
            height:95px;
            position: absolute;
            top:199px;
            left: 35px;
            background:url(../images/btn_1.png) no-repeat;
            background-size:contain;
        }
        .typewriter__btn_1_current{
            background:url(../images/btn_1_current.png) 0 6px no-repeat;
            background-size:contain;
        }
        .typewriter__btn_2 {
            width: 135px;
            height: 95px;
            position: absolute;
            top: 201px;
            right: 35px;
            background:url(../images/btn_2.png) no-repeat;
            background-size:contain;
        }
        .typewriter__btn_2_current{
            background:url(../images/btn_2_current.png) 0 6px no-repeat;
            background-size:contain;
        }
        .typewriter__btn_2 a {   
            display:block;     
            width: 135px;
            height: 95px;
        }
        .typewriter__plate{
            width: 90px;
            height:45px;
            position: absolute;
            top:-12px;
            left:220px;
        }
        .letter {
            position: absolute;
            left: 95px;
            /*
            bottom:348px;
            bottom:-1409px;
            */
            bottom:-1000px;
            border:1px solid #ccc;
            
        } 
        .letter img {
            width: 460px;
        }